*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.subhead{
    font-size: 25px;
    color: blue;
    text-align: center;
     margin-bottom: 20px;
}
.para{
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    word-spacing: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.box{
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-color: aquamarine;
    border: 2px solid black;
    margin-left: 20px;
    background-image: url('https://images.unsplash.com/photo-1777704621927-d5d0e022c0a6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}